@font-face {
  font-family: "iconfont"; /* Project id 3843948 */
  src: url('iconfont.woff2?t=1681109771065') format('woff2'),
       url('iconfont.woff?t=1681109771065') format('woff'),
       url('iconfont.ttf?t=1681109771065') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangda:before {
  content: "\e600";
}

.icon-qm:before {
  content: "\e646";
}

.icon-xunhuan1:before {
  content: "\e610";
}

.icon-icon-:before {
  content: "\e62c";
}

.icon-fangda1:before {
  content: "\e72f";
}

.icon-fangda2:before {
  content: "\e713";
}

.icon-close:before {
  content: "\e602";
}

.icon-repeatoff:before {
  content: "\ea46";
}

.icon-repeat:before {
  content: "\e690";
}

.icon-repeat-one:before {
  content: "\e6fc";
}

.icon-repeat-one-copy:before {
  content: "\eb13";
}

.icon-repeat-copy:before {
  content: "\eb14";
}

.icon-repeatoff-copy:before {
  content: "\eb15";
}

.icon-playcircle:before {
  content: "\e80f";
}

.icon-zanting:before {
  content: "\e667";
}

.icon-zanting1:before {
  content: "\e613";
}

.icon-zanting2:before {
  content: "\e89a";
}

.icon-chizi:before {
  content: "\e625";
}

.icon-fuwei:before {
  content: "\e61f";
}

.icon-jiaodu:before {
  content: "\e67c";
}

.icon-guanxianchangdu:before {
  content: "\e6cc";
}

.icon-zuojiantou-copy:before {
  content: "\eb12";
}

.icon-zuojiantou:before {
  content: "\e606";
}

.icon-quanbu:before {
  content: "\e66c";
}

.icon-dibiaotouming:before {
  content: "\e765";
}

.icon-yincang:before {
  content: "\e614";
}

.icon-reset:before {
  content: "\e611";
}

.icon-toumingdutiaojie:before {
  content: "\e66e";
}

.icon-quxiaoquanping:before {
  content: "\eb10";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-juliceliang:before {
  content: "\e604";
}

.icon-yanjing:before {
  content: "\e857";
}

.icon-yidongdao:before {
  content: "\e657";
}

.icon-celiang:before {
  content: "\e624";
}

.icon-yidong:before {
  content: "\e653";
}

.icon-xianxingtuodong:before {
  content: "\e691";
}

.icon-ic_fuwei:before {
  content: "\e638";
}

